@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* MUTED COLORS */
  --white: #fdfdfd;
  --gray-1: #f9f9f9;
  --gray-2: #dedede;
  --gray-3: #b4b4b4;
  --gray-4: #676767;
  --gray-5: #434343;
  --black: #1d1d1f;

  /* COLORS */
  --green: #288d52;
  --light-green: #3dbf6d;
  --red: #be3939;
  --yellow: #f5c518;
  --orange: #e46248;
  --blue: #0071e3;
  --light-blue: #00a0e3;
  --purple: #ac92ec;
  --pink: #f7a8b8;

  /* TRANSPARENT COLORS */
  --transparent-blue: #0071e34b;
  --transparent-green: #288d52ab;
  --transparent-red: #be3939ab;
  --transparent-yellow: #f5c518ab;
  --transparent-orange: #e46248ab;
  --transparent-purple: #ac92ecab;
  --transparent-pink: #f7a8b8ab;
  --transparent: transparent;
  --transparent-white: #fdfdfd80;
  --transparent-gray-1: #f5f5f580;
  --transparent-gray-2: #dedede80;
  --transparent-gray-3: #b4b4b480;
  --transparent-gray-4: #67676780;
  --transparent-gray-5: #43434380;
  --transparent-black: #1d1d1f80;

  /* TRANSPARENT BACKGROUND */
  --transparent-background-1: #ffffff1a;
  --transparent-background-2: #ffffff33;
  --transparent-background-3: #ffffff66;
  --transparent-background-4: #ffffff99;
  --transparent-background-5: #ffffffcc;

  /* GRADIENT BACKGROUND */
  --gradient-1: linear-gradient(90deg, #0071e3 0%, #00a0e3 100%);
  --gradient-2: linear-gradient(90deg, #288d52 0%, #3dbf6d 100%);
  --gradient-3: linear-gradient(90deg, #be3939 0%, #e46248 100%);
  --gradient-4: linear-gradient(90deg, #f5c518 0%, #f5c518 100%);
  --gradient-5: linear-gradient(90deg, #ac92ec 0%, #f7a8b8 100%);

  /* SHADOWS */
  --shadow-1: #0000001a;
  --shadow-2: #00000033;
  --shadow-3: #0000004d;

  /* FONTS */
  --font-1: 'Poppins', sans-serif;
  --font-2: 'Montserrat', sans-serif;
  --font-3: 'Raleway', sans-serif;
  --font-4: 'Playwrite BR', cursive;
  --font-5: 'Courier New', monospace;

  /* FONT SIZES */
  --title-1: 2rem;
  --title-2: 2.5rem;
  --title-3: 3rem;
  --subtitle-1: 1.2rem;
  --subtitle-2: 1.4rem;
  --subtitle-3: 1.6rem;
  --paragraph-1: 0.8rem;
  --paragraph-2: 0.9rem;
  --paragraph-3: 1rem;

  /* FONT WEIGHTS */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;
  --heavy: 700;
  --extra-bold: 800;

  /* BORDER RADIUS */
  --radius-1: 10rem;
  --radius-2: 2rem;
  --radius-3: 1rem;
  --radius-4: 0.5rem;
  --radius-5: 0.3rem;

  /* TRANSITIONS */
  --loading: 1s;
  --slow: 0.5s;
  --steady: 0.3s;
  --fast: 0.1s;

  /* TEXT SPACING */
  --line-height: 1.3;
  --letter-spacing: 0.022em;
}

/* FONT MEDIA QUERIES */
@media (width < 768px) {
  :root {
    --title-1: 1.8rem;
    --title-2: 2.3rem;
    --title-3: 2.8rem;
    --subtitle-1: 1.1rem;
    --subtitle-2: 1.3rem;
    --subtitle-3: 1.5rem;
    --paragraph-1: 0.75rem;
    --paragraph-2: 0.85rem;
    --paragraph-3: 0.95rem;
  }
}
@media (width < 480px) {
  :root {
    --title-1: 1.5rem;
    --title-2: 2rem;
    --title-3: 2.5rem;
    --subtitle-1: 1rem;
    --subtitle-2: 1.2rem;
    --subtitle-3: 1.4rem;
    --paragraph-1: 0.7rem;
    --paragraph-2: 0.8rem;
    --paragraph-3: 0.9rem;
  }
}

/* DEFAULTS */
html {
  font-synthesis: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-1);
  color: var(--black);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}
:where(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}

/* COMMON PROPERTIES */
:where(button, input, textarea, select, a) {
  transition: var(--steady);
}
:where(button, input, textarea, select, dialog, progress) {
  outline: none;
  border: none;
}
:where(input, textarea, select) {
  font-size: var(--paragraph-3);
  border-radius: var(--radius-5);
  padding: 0.5rem 0.7rem;
}
:where(input, textarea, select, button) {
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:where(button, a) {
  cursor: pointer;
}

main {
  position: relative;
  overflow-x: hidden;
}

/* HEADINGS */
h1 {
  font-size: var(--title-3);
  font-weight: var(--heavy);
}
h2 {
  font-size: var(--title-2);
  font-weight: var(--bold);
}
h3 {
  font-size: var(--title-1);
  font-weight: var(--semi-bold);
}
h4 {
  font-size: var(--subtitle-3);
  font-weight: var(--semi-bold);
}
h5 {
  font-size: var(--subtitle-2);
  font-weight: var(--regular);
}
h6 {
  font-size: var(--subtitle-1);
  font-weight: var(--regular);
}

/* PARAGRAPHS */
p {
  font-size: var(--paragraph-3);
  font-weight: var(--light);
  line-height: var(--line-height);
}

/* SPAN */
span {
  display: inline;
  line-height: inherit;
}

/* BUTTONS */
button {
  border-radius: var(--radius-1);
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: var(--black);
  box-shadow: 0 0.3rem 0.8rem var(--shadow-2);
}
button:hover:not(:disabled) {
  transform: scale(1.03);
  box-shadow: 0 0.5rem 1.1rem var(--shadow-2);
}
button:active:not(:disabled) {
  transform: scale(1);
  box-shadow: 0 0.1rem 0.5rem var(--shadow-2);
}
button:disabled {
  background-color: var(--gray-2);
  color: var(--gray-4);
  box-shadow: none;
  cursor: not-allowed;
}

/* LINKS */
a,
a:visited {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  text-decoration: underline;
}

/* LISTS */
ul {
  list-style: none;
}

/* INPUTS */
input:not([type='checkbox'], [type='radio']) {
  box-shadow: 0 0 0 1px var(--gray-2);
}
input:focus-within,
textarea:focus-within {
  box-shadow: 0 0 0 3px var(--transparent-gray-3);
}

/* TEXTAREAS */
textarea {
  box-shadow: 0 0 0 1px var(--gray-2);
  resize: none;
}

/* SELECTS */
select {
  box-shadow: 0 0 0 1px var(--gray-2);
  background-color: var(--transparent);
}

/* CODE */
pre {
  background-color: var(--gray-5);
  padding: 1rem;
  border-radius: var(--radius-5);
  box-shadow: 0 0.3rem 0.8rem var(--shadow-2);
}
pre code {
  font-family: var(--font-5);
  color: var(--white);
}

/* IMAGES & VIDEOS */
img {
  max-width: 100%;
  height: auto;
  background: linear-gradient(90deg, #d0d0d0 0%, transparent 40%, transparent 60%, #d0d0d0 100%);
  background-size: 200% 100%;
  animation: img-loading 0.75s linear infinite;
}
@keyframes img-loading {
  to { background-position: -200% 0; }
}
img.loaded {
  animation: none;
  background: none;
}
video {
  max-width: 100%;
  height: auto;
}
img,
video {
  user-select: none;
  pointer-events: none;
}

/* DIALOG */
dialog {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
  margin: 2rem;
}

/* DETAILS */
details {
  height: auto;
  padding: 1rem;
}
details summary::marker {
  content: '';
}
details summary {
  cursor: pointer;
}

/* PROGRESS */
progress {
  background-color: var(--gray-1);
  color: var(--black);
}
progress::-moz-progress-bar {
  background: var(--black);
}
progress::-webkit-progress-value {
  background: var(--black);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn var(--steady) forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut var(--steady) forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0);
  }
}
.slide-in {
  animation: slideIn var(--steady) forwards;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1rem);
  }
}
.slide-out {
  animation: slideOut var(--steady) forwards;
}

/* ANIMATIONS MEDIA QUERIES */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* COOKIES */
.cookies {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 2rem);
  max-width: 600px;
  height: auto;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--radius-3);
  box-shadow: 0 0.5rem 1rem var(--shadow-2);
  animation: cookiesOpen var(--steady) forwards;
  z-index: 9999;
}
.cookies p {
  font-size: var(--paragraph-2);
  font-weight: var(--regular);
}
.cookies.close {
  animation: cookiesClose var(--steady) forwards;
}
@keyframes cookiesOpen {
  from {
    transform: translateY(5rem) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}
@keyframes cookiesClose {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(5rem) translateX(-50%);
  }
}

/* LOADING */
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-background-4);
  z-index: 9999;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--transparent-gray-2);
  border-top: 0.2rem solid var(--black);
  animation: spin var(--loading) linear infinite;
}
